*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

#content{
    height: 100vh;
    width: 100vw;
}

header{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    min-width: 280px;
    width: 100vw;
    background-color: #000431;
    margin: 0px;
    padding: 10px 0 10px 0;
    border-bottom:3px solid #c78ffe;
}

nav{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 30px;
    margin: 10px;
}

nav button{
    color: #c78ffe;
    background-color: #00005f;
    border: 2px solid darkslategrey;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    font-size: 1.5rem;
}

nav button:hover{
    background-color: #000431;
    color: #cf8ffe;
    border: violet;
    border-style:groove;
    font-style: italic;
}

nav button:active{
    background-color: #c78ffe;
    color: #000431;
    border: none;
}

#content{
    width: 100vw;
    background-image: url('./assets/background.png');
    background-size: contain;
}